@model RegisterViewModel
@{
    ViewBag.Title = "Create New User";
}

<form asp-controller="Account" asp-action="Register" method="post" class="form-horizontal" role="form">

    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="ApplicationUser.ApplicatinUserUserName" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="ApplicationUser.ApplicatinUserUserName" class="form-control" />
            <span asp-validation-for="ApplicationUser.ApplicatinUserUserName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ApplicationUser.ApplicationUserFirstName" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="ApplicationUser.ApplicationUserFirstName" class="form-control" />
            <span asp-validation-for="ApplicationUser.ApplicationUserFirstName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ApplicationUser.ApplicationUserLastName" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="ApplicationUser.ApplicationUserLastName" class="form-control" />
            <span asp-validation-for="ApplicationUser.ApplicationUserLastName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ApplicationUser.ApplicationUserEmail" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="ApplicationUser.ApplicationUserEmail" class="form-control" />
            <span asp-validation-for="ApplicationUser.ApplicationUserEmail" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ApplicationUser.ApplicationUserPhoneNumber" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="ApplicationUser.ApplicationUserPhoneNumber" class="form-control" />
            <span asp-validation-for="ApplicationUser.ApplicationUserPhoneNumber" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ApplicationUser.ApplicationUserRole.UserRoleName" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <select asp-for="ApplicationUser.ApplicationUserRole.UserRoleName">
                @foreach (var type in Model.UserRoleModels)
                {
                    <option value="@type.UserRoleName">@type.UserRoleName</option>
                }
            </select>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ApplicationUser.ApplicationUserPassword" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="ApplicationUser.ApplicationUserPassword" class="form-control" />
            <span asp-validation-for="ApplicationUser.ApplicationUserPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-primary" value="Create" />
        </div>
    </div>
</form>