@model web.Models.OrderModel

<form asp-action="Checkout" method="post" class="form-horizontal" role="form">
    <h4>You're just one step away from taking items in your shopping cart home!</h4>
    
    @*<div asp-validation-summary="All" class="text-danger"></div>*@

    <div class="form-group">
        <label asp-for="OrderShippingLastName" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="OrderShippingLastName" class="form-control" />
            <span asp-validation-for="OrderShippingLastName" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="OrderShippingFirstName" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="OrderShippingFirstName" class="form-control" />
            <span asp-validation-for="OrderShippingFirstName" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="OrderShippingAddress1" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="OrderShippingAddress1" class="form-control" />
            <span asp-validation-for="OrderShippingAddress1" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="OrderShippingAddress2" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="OrderShippingAddress2" class="form-control" />
            <span asp-validation-for="OrderShippingAddress2" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="OrderShippingCity" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="OrderShippingCity" class="form-control" />
            <span asp-validation-for="OrderShippingCity" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="OrderShippingState" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="OrderShippingState" class="form-control" />
            <span asp-validation-for="OrderShippingState" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="OrderShippingZipCode" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="OrderShippingZipCode" class="form-control" />
            <span asp-validation-for="OrderShippingZipCode" class="text-danger"></span>
        </div>
    </div>
    
    <div class="form-group">
        <label asp-for="OrderAppliedAwardPoints" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="OrderAppliedAwardPoints" class="form-control" />
            <span asp-validation-for="OrderAppliedAwardPoints" class="text-danger"></span>
        </div>
    </div>
    
    <div class="form-group">
        <label asp-for="OrderAppliedDiscount" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="OrderAppliedDiscount" class="form-control" />
            <span asp-validation-for="OrderAppliedDiscount" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="OrderCreditCard.CreditCardNumber" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="OrderCreditCard.CreditCardNumber" class="form-control" />
            <span asp-validation-for="OrderCreditCard.CreditCardNumber" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="OrderCreditCard.CreditCardExpirationDate" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="OrderCreditCard.CreditCardExpirationDate" class="form-control" />
            <span asp-validation-for="OrderCreditCard.CreditCardExpirationDate" class="text-danger"></span>
        </div>
    </div>
    
    <div class="form-group">
        <label asp-for="OrderCreditCard.CreditCardCvv" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="OrderCreditCard.CreditCardCvv" class="form-control" />
            <span asp-validation-for="OrderCreditCard.CreditCardCvv" class="text-danger"></span>
        </div>
    </div>
     
    <div class="form-group">
        <label asp-for="OrderCreditCard.CreditCardFirstName" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="OrderCreditCard.CreditCardFirstName" class="form-control" />
            <span asp-validation-for="OrderCreditCard.CreditCardFirstName" class="text-danger"></span>
        </div>
    </div>
    
    <div class="form-group">
        <label asp-for="OrderCreditCard.CreditCardLastName" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="OrderCreditCard.CreditCardLastName" class="form-control" />
            <span asp-validation-for="OrderCreditCard.CreditCardLastName" class="text-danger"></span>
        </div>
    </div>
    
    <div class="form-group">
        <label asp-for="OrderBillingAddress1" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="OrderBillingAddress1" class="form-control" />
            <span asp-validation-for="OrderBillingAddress1" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="OrderBillingAddress2" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="OrderBillingAddress2" class="form-control" />
            <span asp-validation-for="OrderBillingAddress2" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="OrderBillingCity" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="OrderBillingCity" class="form-control" />
            <span asp-validation-for="OrderBillingCity" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="OrderBillingState" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="OrderBillingState" class="form-control" />
            <span asp-validation-for="OrderBillingState" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="OrderBillingZipCode" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="OrderBillingZipCode" class="form-control" />
            <span asp-validation-for="OrderBillingZipCode" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-5">
            <input type="submit" class="btn btn-primary" value="Complete order" />
        </div>
    </div>
</form>