@model ContactViewModel
@{
    ViewBag.Title = "Contact Us";
}
<form method="post">
    <label>Name: </label>
    <br/>
    <input name="name"/>
    <label>Email: </label>
    <br/>
    <input type="email" name="email"/>
    <label>Subject: </label>
    <br/>
    <input type="text" name="subject"/>
    <label>Message: </label>
    <br/>
    <textarea rows="4"></textarea>
    <br/>
    <input type="submit" value="Send Message" name="message"/>
</form>