<!DOCTYPE html>
<html>
    <head>
        <title>Goodies Fair: @ViewBag.Title</title>
    </head>

    <body>
        <h1>Welcome to Goodies Fair</h1>
        <menu>
            <ul>
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-controller="Home" asp-action="Contact">Contact</a></li>
                <li><a asp-controller="Home" asp-action="About">About</a></li>
            </ul>
        </menu>

        <section>
        <h2>@ViewBag.Title</h2>
            @RenderBody()
        </section>

        <footer>
            Copyright 2018 Goodies Fair LLC
        </footer>
        
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/scss/bootstrap.scss"></script>
    @RenderSection("scripts", false)
        
    </body>
</html>