<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown">Manage<b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li>
            <a asp-controller="Account" asp-action="List">User Accounts</a>
        </li>
        <li>
            <a asp-controller="Order" asp-action="List">Orders</a>
        </li>
        <li>
            <a asp-controller="Product" asp-action="ListAll">Products</a>
        </li>
    </ul>
</li>